{% extends 'base.html' %}

{% block style %}
    <style>
        
        h1,h2,h3,h4,h5,h6{
            color:hsl(0, 0%, 30%);
        }

        .box-element{
            box-shadow:hsl(0, 0%, 80%) 0 0 16px;
            background-color: #fff;
            border-radius: 4px;
            padding: 10px;
        }

        .thumbnail{
            width: 100%;
            height: 200px;
            -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
            -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
            box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
        }

        td input{
            width: 40px;
            height: 30px;
            padding: 5px;
        }

        .cart-info{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    </style>
{% endblock style %}
    

{% block content %}
    <section class="under-nav">
        <div class="container bg-light pt-4 pb-4">
            <a class="btn btn-outline-primary mb-4" href="#"><i class="fas fa-long-arrow-alt-left"></i> Back Shopping</a>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-element">
                            <div class="grid-cover mt-4 pb-4">
                                <div class="grid-child my-auto"><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></div>
                                <div class="grid-child mx-auto my-auto"><h5>Total: <strong>Rp {{order.get_cart_totals}}</strong></h5></div>
                                <div class="grid-child ml-auto my-auto">
                                    <a class="btn btn-outline-danger" href="{% url 'homey:checkout' %}">Checkout</a>
                                </div>
                            </div>
                
                    </div>
                    <br>
                    <table class="table text-center">
                        <thead class="thead bg-blue">
                            <tr>
                                <th width="300px" scope="col">Product</th>
                                <th width="300px" scope="col">Price</th>
                                <th width="300px" scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td class="cart-info" style="vertical-align: middle;">
                                        <img width="80px" src="{{item.product.imageURL}}" alt="">
                                        <p class="pt-2 pl-2">{{item.product.title}}</p>
                                    </td>
                                    <td style="vertical-align: middle;">{{item.product.price}}</td>
                                    <td style="vertical-align: middle;" width="100px"><input type="number" value="{{item.quantity}}"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    