{% extends "base.html" %}
{% block content %}
<section class="under-nav">
	<div class="container bg-light">
	    <main class="pt-3 pb-3">
	        <div class="row">
	            <div class="col-sm-6 col-lg-6 order-md-first">
	                <img class="mx-auto d-block" width="80%" alt="Responsive image" src="{{ product.image_product.url }}">
	            </div>
	            <div class="col-sm-6 col-lg-6">
	                <h2 class="mt-3">{{product.title}}</h2>
	            </div>
	        </div>
	    </main>

	</div>
</section>
{% endblock content %}
{# <p>{{ product.description|slice:":355" }}...</p> #}