{% extends "base.html" %}
{% load static %}
{% block style %}
	<link rel="stylesheet" href="{% static 'breakpoints.css' %}">
	<style>	
		.title-a1{
			font-size: 1.7rem;
		}
	</style>
{% endblock style %}
{% block content %}
<section class="under-nav">
	<div class="container bg-light">
	    <main class="pt-3 pb-3">
	        <div class="container grid-container">
	            <div class="item-grid">
	                <img class="mx-auto d-block" width="80%" alt="Responsive image" src="{{ product.imageURL }}">
	            </div>
	            <div class="item-grid">
					<div class="row d-flex flex-column pb-2">
						<h2 style="margin-bottom: 0;">{{product.title}}</h2>
						<small class="ml-1">{{product.stock}} Stock Tersedia</small>
					</div>
					<div class="row pt-2">
						<h1>Rp {{product.price}}</h1>
						&nbsp; &nbsp;
						<h3><del></del></h3>
						&nbsp; &nbsp;
						<h2 class="text-success"></h2>
					</div>
					<div class="row">
						<a href="{{link}}" class="btn btn-outline-success" style="font-size: 1rem;">Beli Sekarang   <i class="fab fa-whatsapp"></i></a>
						<a data-action='add' data-product='{{product.id}}' href="" class="tombol btn btn-outline-primary update-cart ml-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
								<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
							</svg>
	  					</a>
					</div>
					<div class="row mt-4">
						<p>Rating :</p>
					</div>
					<div class="row">
						<h3 class="text-warning" width='80%'><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></h3>
						&nbsp; &nbsp;
					</div>
					<div class="row mt-3" style="display: inline-block;">
						<h6>Description</h6>
						<p>{{product.description}}.</p>
					</div>
				</div>
	        </div>
	    </main>
	</div>
	<div class="container bg-light mt-2">
		<h2 class="d-flex mx-auto"><a href="/product/" class="link-href mb-4 text-decoration-none title-a1">Produk Lain</a></h2>
		<div class="row px-2">
		{% for produk in product_list %}
            <div class="col-md-3 col-sm-6 col-6 p-1">
                <figure class="card card-product-grid" style="height: 300px;">
                    <div class="img-wrap img-product"> 
                        <a href="{% url 'homey:detail' produk.slug %}"><img src="{{produk.imageURL}}"></a>
                        <a class="btn-overlay" href="{% url 'homey:detail' produk.slug %}"><i class="fa fa-search-plus"></i> Quick view</a>
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap text-center ">
                        <div class="fix-height">
                            <a href="{% url 'homey:detail' produk.slug %}" class="title title-product text-decoration-none">{{product.title}}</a>
                            <div class="price-wrap mt-2">
                                <span class="price price-product pt-2">Rp {{produk.price}}</span>
                            </div> <!-- price-wrap.// -->
                        </div>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->
        {% endfor %}
		</div>
	</div>
</section>
{% endblock content %}
{# <p>{{ product.description|slice:":355" }}...</p> #}