{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
	</div>
	<div class="konten container shadow">
		<div class="row">
			<div class="card kartu-1 col-sm-6">
				<h2>Welcome To Shop</h2>
			</div>
			<div class="card kartu-2 col-sm-6">
				<ul>
					<li>
						Lorem Ipsum
					</li>
					<li>
						Lorem Ipsum2
					</li>
					<li>
						Lorem Ipsum3
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 card kartu-3">
				<h6 class="progress-title">Kepuasan Pembeli | <i class="far fa-smile"></i><i class="far fa-smile"></i><i class="far fa-grin"></i></h6>
				<div class="progress prog">
				  	<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
				</div>
				<h6 class="progress-title">Kualitas Produk | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h6>
				<div class="progress prog">
				  	<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section-content"><!-- Section Kategori -->
		<div class="container mt-4">
			<h2 class="d-flex mx-auto"><a href="" class="link-href text-decoration-none">Kategori</a></h2>
			<div class="row mt-4">
			    {% for category in categories %}
			    	<a href="#">
					    <div class="col-sm-6 col-6 col-lg-4 mt-2">
					      	<div class="card bg-dark">
					        <img src="{% static 'sample1.png' %}" class="card-img opacity">
						        <div class="card-img-overlay text-white">
						          	<h5 class="card-title"><a href="" class="text-decoration-none">{{category.name}}</a></h5>
						          	<p class="card-text">Category Card</p>
						        </div>
					      	</div> 
					    </div> <!-- End Card -->
				    </a>
			    {% endfor %}
			</div>	
		</div>
	</section>
	<section class="section-content"><!-- Section Product -->
		<div class="container mt-4">
			<article class="card best-product">
				<div class="card-header d-flex flex-column w-100">
					<div class="d-flex justify-content-between align-items-center w-100">
						<h3>Best Product</h3>
						<a href="" class="text-decoration-none">
							<span>See Others..</span>
						</a>
					</div>
				</div>
				<div class="card-body">
			<div class="row">
				{% for product in product_list %}
					<div class="col-6 col-md-3 col-sm-6 kartu-produk">
						<figure class="card card-product-grid mb-3">
							<div class="img-wrap"> <img src="{{product.image_product.url}}" class='img-product d-flex mx-auto'> </div>
							<figcaption class="info-wrap">
								<a href="#" class="title text-truncate">{{product.title}}</a>
								<p class="price mb-2">{{product.price}} Rp</p>
								<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
							</figcaption>
						</figure>
					</div> <!-- col.// -->
				{% endfor %}
			</div> <!-- row .//  -->
				</div> <!-- card-body.// -->
			</article>
		</div>
	</section>
{% endblock content %}
