{% extends "base.html" %}

{% block content %}
    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg under-nav ">
        <div class="container">
            <h2 class="title-page">Category products</h2>
            <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'homey:index' %}">Home</a></li>
                {% if active %}
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'homey:product' %}">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{active}}</li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">Products</li>
                {% endif %}
            </ol>  
            </nav>
        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">

    <div class="row">
        <aside class="col-md-3 mt-4">
            
    <div class="card">
        <article class="filter-group">
            <div class="card-header d-flex flex-column">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="false" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Category Products</h6>
                </a>
            </div>
            <div class="filter-content collapse in" id="collapse_1" style="">
                <div class="card-body">
                    <ul class="list-menu">
                        <li><a href="{% url 'homey:product'%}">All</a></li>
                    {% for category in categories %}
                        <li><a href="{% url 'homey:product'%}?category-id={{forloop.counter}}">{{category}}</a></li>
                    {% endfor %}
                        
                    </ul>

                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
    </div> <!-- card.// -->

    <div class="card">
        <article class="filter-group">
            <div class="card-header d-flex flex-column">
                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Filter</h6>
                </a>
            </div>
            <div class="filter-content collapse in" id="collapse_2" style="">
                <div class="card-body">
                    <ul class="list-menu">
                        <li><a href="{% url 'homey:product'%}?order=-upload_time">Terbaru</a></li>
                        <li><a href="{% url 'homey:product'%}?order=price">Termurah</a></li>
                        <li><a href="{% url 'homey:product'%}?order=-price">Termahal</a></li>
                    </ul>

                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
    </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <main class="col-md-9 mt-4">

    <div class="row">
        <!--<div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    <span class="badge badge-danger"> NEW </span>
                    <img src="images/items/1.jpg">
                    <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                </div>
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="#" class="title">Great item name goes here</a>
                        <div class="price-wrap mt-2">
                            <span class="price">$1280</span>
                            <del class="price-old">$1980</del>
                        </div>
                    </div>
                    <a href="#" class="btn btn-block btn-primary">Add to cart </a>
                </figcaption>
            </figure>
        </div> --><!-- col.// -->

        {% for product in product_list %}
            <div class="col-md-4 col-sm-6 col-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap img-product"> 
                        <a href="{% url 'homey:detail' product.slug %}"><img src="{{product.imageURL}}"></a>
                        <a class="btn-overlay" href="{% url 'homey:detail' product.slug %}"><i class="fa fa-search-plus"></i> Quick view</a>
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <a href="{% url 'homey:detail' product.slug %}" class="title">{{product.title}}</a>
                            <div class="price-wrap mt-2">
                                <span class="price">{{product.price}}</span>
                            </div> <!-- price-wrap.// -->
                        </div>
                        <a data-action='add' data-product='{{product.id}}' href="" class="btn btn-block btn-primary update-cart">Add to cart </a>  
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row end.// -->


    <nav class="mt-4" aria-label="Page navigation sample">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

        </main> <!-- col.// -->

    </div>

    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
    