.tombol{
	width: 42px;
}

.jumbotron-fluid{
	background-image: url("skybg.png");
	background-position: -100 0;
	background-repeat: no-repeat;
	min-height: 500px
}
.card {

}

.konten {
	border-radius: 20px;
	margin-top: -200px;
	background-color: rgba(240,240,240,.8);
	min-height: 250px;
}
.kartu-1{
	padding: 15px;
	background-color: rgba(240,240,240,.3);
	border-radius: 20px 0px 0px 0px;
}
.kartu-2{
	padding: 15px;
	background-color: rgba(240,240,240,.3);
	border-radius: 0px 20px 0px 0px;
}
.kartu-3{
	padding: 15px;
	background-color: rgba(240,240,240,.3);
	border-radius: 0px 0px 20px 20px;
}

.underline{
	width: 150px;
	height: 1px;
	background-color: black;
	margin: 0!important;
}

.section-content {
	margin-top: 20px;
	border-top: 7px solid #eee;
	padding: 20px;
}

.progress {
	background-color: white;
}

.progress-title{
	margin-top: 10px;
}

.link-href {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0 0.2rem;
    font-size: 1.5rem;
    color: rgb(83, 52, 255);
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
  }
  
  .link-href::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: var(--pink);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  .link-href:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }